<head>
  <title>TinyApp</title>
<% if (!user_id) { %>
<p><a href="/register">Register</a> or <a href="/login">Log In</a></p>
<% } else { %>
<h1>Welcome,</h1> <h2><%= user_id %></h2>
      <form method="POST" action="/logout">
        <input type="submit" value="Log Out">
      </form>
<% } %>