<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
<ul>
  <% for (let indivUrls in urls) { %>
    <li><strong>Original URL: </strong><%= urls[indivUrls] %><br>
        <strong>Shortened URL: </strong><%= indivUrls %>
        <a href="/urls/<%= indivUrls %>">Edit</a>
        <form method="POST" action="/urls/<%= indivUrls %>/delete" name="deleteform">
          <input type="submit" value="Delete" />
        </form>
    </li>
    <% }; %>
</ul>
<a href='/urls/new''>Click here to shorten an URL.</a>
</body>
</html>
